@import "./bootstrap-color-initialization.scss";
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
) !default;


@import "bootstrap/scss/bootstrap.scss";
